.card-container {
  margin: 5rem auto;

  .loading-notice {
    font-size: 1.25rem;
    color: $color-text-primary;
    line-height: 1.4;

    &.show {
      display: block;
    }

    &.hide {
      display: none;
    }
  }

  .card-flex-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

    // responsive card layout
    .card {
      flex-basis: 50%;
    }
  }
}

@media screen and (max-width: 699px) {
  .card-container .card-flex-container {
    flex-direction: column;
    margin: auto;
    max-width: 450px;

    .card {
      flex-basis: 100%;
    }
  }
}
