// colors
$color-white-primary: #fff;
$color-white-secondary: #f7f7fc;
$color-text-primary: rgba(0, 0, 0, 0.7);
$color-blue-dark-primary: #023047;
$color-blue-dark-secondary: #011a26;
$color-blue-light-primary: #219ebc;
$color-blue-light-secondary: #26b6d9;
